.rigi-logo {
    height:50px;
}

.rigi-top-bar {
    background-color:#00aec6;
    position:absolute;
    top:0;
    width:100%;
}

.rigi-content {
    position:absolute;
    top:80px;
    width:100%;
}

.rigi-sidebar-left {
    width: 300px !important;
    padding: 45px 45px 60px 45px;
    border-right: 1px #e5e5e5 solid;
    height:100%;
}

.uk-nav-header {
    padding: 8px 0;
    border-bottom: 1px solid #e5e5e5;
}

.rigi-sidebar-right {
    width: 300px !important;
    padding: 45px 45px 60px 45px;
    border-left: 1px #e5e5e5 solid;
    height:100%;
}

.uk-navbar-toggle {
    color: #fff;
}