.rigi-logo {
    height:50px;
}

.rigi-top-bar {
    background-color:#00aec6;
}

.rigi-sidebar-left {
    border-right: 1px #e5e5e5 solid;
}

.uk-nav-header {
    padding: 8px 0;
    border-bottom: 1px solid #e5e5e5;
}

.rigi-sidebar-right {
    border-left: 1px #e5e5e5 solid;
}

.uk-navbar-toggle {
    color: #fff;
}

.uk-navbar-subtitle {
    font-weight:600;
    margin: 10px 0 0;
}